<!-- templates/game_clear.html -->
{% extends "base.html" %}

{% block title %}Wiki Game - ゲームクリア{% endblock %}

{% block content %}
<div class="container">
    <div class="game-clear">
        <h1>GAME CLEAR!!</h1>
        <p>おめでとう‼︎</p>
        <!-- ボタンを中央揃えにするためのラッパーを追加 -->

        <div class="button-container">
            <button onclick="location.href='{{ url_for('opening') }}'">ホーム</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1/dist/confetti.browser.min.js"></script>
<script>
      // 画面幅に応じてエフェクトの開始位置を調整
  var originY = window.innerWidth < 768 ? 0.4 : 0.6;

  confetti({
    particleCount: 100,
    spread: 70,
    origin: { y: originY }
  });
</script>
{% endblock %}
