{% extends "base.html" %}

{% block title %}Wiki Game - オープニング{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <div class="rule-explanation">
        <p>【ルール】</p>
        <ul>
            <li>ランダムなWikipediaページからスタートします。</li>
            <li>制限クリック数内に目標記事を探してね！</li>
            <li>クリック数がなくなるとゲームオーバーだよ！</li>
            <li>途中でリセットボタンを押したら全部リセットされるよ。</li>

        </ul>
    </div>
    <br>
    <div class="button-container">
        <!-- 簡易版: GETパラメータを付けて難易度を指定 -->
        <button class="btn level-select-btn" onclick="location.href='{{ url_for('start_game') }}?difficulty=easy'">Easyモード</button>
        <button class="btn level-select-btn" onclick="location.href='{{ url_for('start_game') }}?difficulty=hard'">Hardモード</button>


    </div>
</div>

{% endblock %}
